@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#divConteudo1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0C1446;
    margin-top: 4rem;
}

#divConteudo1_foto {
    display: flex;
    width: 100%;
    /* background-color: pink; */
}

#divConteudo1_foto>img {
    margin: 1rem;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#divConteudo1_paragrafo {
    /* background-color: blue; */
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: 3rem;
    color: #FFFFFF;
}

#divConteudo1_paragrafo_contador {
    /* background-color: pink; */
    width: 100%;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#divConteudo1_paragrafo_contador>div {
    padding: 1rem;
    margin-bottom: 1rem;
}

#card_arrow {
    border-style: none;
    height: 1rem;
    font-size: 3rem;
    background-color: #0C1446;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}


#divConteudo1_TempoRestante {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    flex-direction: row;
}

#divConteudo1_TempoRestante>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    /* background-color: pink; */
}

#timeRemaining_days:hover::after {
    content: "dias";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
}
#timeRemaining_hours:hover::after {
    content: "horas";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
}
#timeRemaining_minutes:hover::after {
    content: "minutos";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
}
#timeRemaining_seconds:hover::after {
    content: "segundos";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
}

#divConteudo2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #B22222;
}

#divConteudo2>div>h2 {
    color: #FFFFFF;
    margin-top: 2rem;
    margin-left: 0px;
}

#divConteudo2_QA {
    background-color: #B22222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#divConteudo2_QA_Botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;

}

#divConteudo2_QA_Botoes>button {
    margin: 1rem;
    width: 15rem;
    font-weight: bold;
}

#divConteudo2_QA_Img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#divConteudo2_QA_Img>img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10%;
}

#divConteudo3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #2E8B57;
    padding-top: 3rem;
}

#divConteudo3>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#divConteudo3>div>img {
    border-radius: 10%;
    padding: 1rem;
}

#divConteudo4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #E1C322;
    padding-top: 3rem;
}

#divConteudo4>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

#divConteudo4>div>img {
    border-radius: 10%;
    padding: 1rem;
}

#divConteudo5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0C1446;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #FFFFFF;

}

#footer {
    background-color: #FFFFFF;
}

#footer>div>a:hover {
    text-decoration: none;
    background-color: purple;
}

body.fixed-nav-padding {
    padding-top: 60px;
}


/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#backToTopBtn {
    display: none;
    /* Escondido por padrão */
    position: fixed;
    /* Fixo na tela */
    bottom: 20px;
    /* Distância do fundo da tela */
    right: 30px;
    /* Distância da direita da tela */
    z-index: 99;
    /* Fica sobre outros elementos */
    font-size: 18px;
    /* Tamanho da fonte */
    border: none;
    /* Sem borda */
    outline: none;
    /* Sem contorno */
    background-color: #0C1446;
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    cursor: pointer;
    /* Cursor de ponteiro */
    padding: 15px;
    /* Espaçamento interno */
    border-radius: 10px;
    /* Bordas arredondadas */
}

#backToTopBtn:hover {
    background-color: #555;
    /* Cor de fundo ao passar o mouse */
}